<div class="col-3">
    <aside class="home-aside d-flex flex-column">
        <div class="aside-header d-flex justify-content-between align-items-center pe-3 ps-3 pt-1 pb-1">
            <P class="header-text">ANIME ON AIR</P>
            <i class="bi bi-caret-right-fill"></i>
        </div>
        <div class="aside-list d-flex p-3 flex-column">
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
            <div class="aside-list-item w-100 mb-3">
                <div class="row d-flex flex-row align-items-center">
                    <div class="col-9 d-flex align-items-center">
                        <div class="icon-div  d-flex justify-content-center align-items-center me-2">
                            <i class="bi bi-caret-right-fill"></i>
                        </div>
                        <p class="anime-name">One Piece</p>
                    </div>
                    <div class="anime-tag d-flex justify-content-center align-items-center col-2">Anime</div>
                </div>
            </div>
        </div>
    </aside>
</div>