<div class="score-stars d-flex justify-content-center align-items-center">
    <div *ngIf="score >= 1 && score <= 2"><i class="bi bi-star-fill"></i></div>
    <div *ngIf="score > 2 && score <= 3.5">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-half"></i>
    </div>
    <div *ngIf="score > 3.5 && score <= 4">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill"></i>
    </div>
    <div *ngIf="score > 4 && score <= 5.5">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-half"></i>
    </div>
    <div *ngIf="score > 5.5 && score <= 6">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill"></i>
    </div>
    <div *ngIf="score > 6 && score <= 7.5">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-half"></i>
    </div>
    <div *ngIf="score > 7.5 && score <= 8">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill"></i>
    </div>
    <div *ngIf="score > 8 && score <= 9.5">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-half"></i>
    </div>
    <div *ngIf="score > 9.5 && score <= 10">
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill me-1"></i>
        <i class="bi bi-star-fill"></i>
    </div>
</div>