<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-xl pt-2 pb-2">
        <a class="navbar-brand" href="#">
            <img src="favicon.ico" alt="app-icon" class="me-2">
            MyAnimeApp
        </a>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end">
            <div class="navbar-nav">
                <a class="nav-link active-link" aria-current="page" href="#">ANIME DIRECTORY</a>
                <a class="nav-link" href="#">PROFILE</a>
                <form class="d-flex ms-5" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</nav>